
.bg-image {
    width:100%;
    height:500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('produce.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  .hero-text {
    text-align: center;
  }

  .card {
    width: 15rem;
    height: 20rem;
  }

  #product-img {
    width: 13rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #productPhoto {
    width: 30rem;
    height: 30rem;
  }

  form {
    background-color: #4B6F44;
    padding: 2rem;
    border-radius: 4%;
    color: white;
  }

 