
body {
  background: rgba(75, 111, 68, .2);
}

.bg-image {
    width:100%;
    height:500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('produce.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  .hero-text {
    text-align: center;
  }

  .light-font {
    font-weight: 175;
  }

  #hero-heading1 {
    font-size: 6rem;
  }

  #home-text {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media only screen and (max-width: 600px) {
    #home-text {
      padding: 1rem;
    }
  }

  #cartCard {
    width: 100%;
  }

  #cartCard img {
    width: 13rem;
    padding: 1rem;
  }

  .card {
    width: 15rem;
  }

  .card-text {
    padding: .5rem;
    height: 5rem;
  }

  #product-img {
    width: 13rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  #productPhoto {
    width: 95%;
  }

  #login-form {
    background-color: #4B6F44;
    padding: 2rem;
    border-radius: 4%;
    color: white;
  }

  @media only screen and (max-width: 600px) {
    #h#login-form {
      margin: .5rem;
    }
  }

  #checkout_btn {
    width: 30%;
    padding: .5rem;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 600px) {
    #checkout_btn {
      font-size: 1rem;
    }
  }